# Python
__pycache__/
*.py[cod]
*.so

# Jupyter / Colab
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment / secrets
.env
.env.*

# Local databases
database/*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

database/*.db-wal
database/*.db-shm
